<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  
  <display-name>AEGiS: Automatic Encoding of Grades in SIS</display-name>
  
  <welcome-file-list>
    <welcome-file>/UserJSP/aegis-login.jsp</welcome-file>
    <welcome-file>/UserJSP/aegis-login.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>aegis-login</servlet-name>
    <jsp-file>/UserJSP/aegis-login.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>aegis-login</servlet-name>
    <url-pattern>/aegis-login</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>aegis-home</servlet-name>
    <jsp-file>/UserJSP/aegis-home.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>aegis-home</servlet-name>
    <url-pattern>/aegis-home</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>aegis-close</servlet-name>
    <jsp-file>/UserJSP/aegis-close.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>aegis-close</servlet-name>
    <url-pattern>/aegis-close</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>aegis-open</servlet-name>
    <jsp-file>/UserJSP/aegis-open.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>aegis-open</servlet-name>
    <url-pattern>/aegis-open</url-pattern>
  </servlet-mapping>
  
<!-- ACCOUNT --> 
	<servlet>
		<servlet-name>Account</servlet-name>
		<servlet-class>aegis.controller.aegis_login</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Account</servlet-name>
		<url-pattern>/login/*</url-pattern>
	</servlet-mapping>
	
<!-- SIGNED IN --> 
	<servlet>
		<servlet-name>Signed-in</servlet-name>
		<servlet-class>aegis.controller.aegis_signedin</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Signed-in</servlet-name>
		<url-pattern>/signedin/*</url-pattern>
	</servlet-mapping>
  
</web-app>

